/* app/globals.css */
html, body, #__next {
  height: 100%;
}
body {
  margin: 0;
  background: #f7f9fc;
  color: #111;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
input {
  font-family: inherit;
  font-size: 0.95rem;
}
